@charset "utf-8";

body,
div,
dl, dt, dd,
ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre,
form,
fieldset,
figure,
input,
textarea,
p,
blockquote,
th, td,
main, section, article, aside, header, footer, nav {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
img {
	border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
	font-weight: normal;
}

ol, ul, li {
	list-style: none;
}

caption,
th {
	text-align: left;
}

img {
	vertical-align: bottom;
}

*, *::before, *::after {
	box-sizing: border-box;
}

a {
    text-decoration: none;
}


/*clearfix-------------------------------*/

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}